// Animations
// ============================================================================
.breathe {
    animation: breathe 3s infinite;
    line-height: 52px;
}

@keyframes breathe {
    0%,
    20% {
        font-size: 48px;
    }
    70% {
        font-size: 50px;
    }
    100% {
        font-size: 48px;
    }
}


// Fade in / out classes
[data-animate='fade-in-right'] {
    opacity: 0;
    transform: translateX(20px);
    transition: all 0.5s linear;

    &.fade-in {
        opacity: 1;
        transform: translateX(0);
    }

    &.fade-out {
        opacity: 0;
        transform: translateX(-20px);
    }
}
