.footer-menu {
    background: #f5f5f5;
    border-top: 1px solid $grey-dark;
    bottom: 0;
    color: $grey-dark;
    position: fixed;
    width: 100%;
    left: 0;
    right: 0;

    small {
        display: block;
        font-size: 12px;
    }
}
