$background-color-default: #111111 !default;
$background-color-hover: $royal-purple !default;
$text-color-default: #e5e5e5 !default;
$text-color-hover: lighten($text-color-default, 90%) !default;

@mixin create-theme($name, $background-color-default, $background-color-hover, $text-color-default, $text-color-hover) {
    .#{$name} {
        .trophy-case__item {
            color: #ffffff;

            svg {
                fill: #ffffff;
            }

            &--polished {
                background: $background-color-default;
                color: $text-color-default;

                &:hover {
                    background: $background-color-hover;
                    color: $text-color-hover;
                }

                svg {
                    fill: $text-color-default;

                    &:hover {
                        fill: $text-color-hover;
                    }
                }
            }
        }

        .highlight {
            background: lighten($background-color-default, 5%);
            opacity: 0.9;
        }

        .font-selection {
            .font-selection__item {
                &::before,
                &::after {
                    border-color: lighten($background-color-default, 5%) !important;
                }
            }
        }
    }
}
