// Top nav or the trophy case section.
// =============================================================================
.trophy-case {
    font-size: 12px;
    opacity: 0.2;
    padding: 15px 0;
    position: fixed;
    text-align: center;
    top: 0;
    transition: opacity 0.5s ease-out;
    width: 100%;

    &:hover {
        opacity: 1;
    }

    .trophy {
        color: $grey-light;
        display: inline-block;
        opacity: 0.5;
        pointer-events: none;
        width: 10%;

        &.polished {
            color: $purple;
            cursor: pointer;
            pointer-events: all;
        }

        &::before {
            font-size: 32px;
        }
    }
}
