// Article styling to make this look like a magazine.
// =============================================================================
.article {
    align-content: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    margin: 0 auto;
    max-width: 675px;
    overflow: auto;
    text-align: justify;
    width: 80%;

    em {
        cursor: pointer;
        font-style: normal;
        opacity: 1;
        text-decoration: underline;
    }

    .exhausted {
        cursor: default;
        font-style: italic;
        text-decoration: none;
    }

    .highlight {
        background: lighten(#663399, 30%);
        opacity: 0.8;
        transition: background 0.4s linear, color 0.4s linear, opacity 0.2s linear;

        &.revealed {
            background: transparent;
            opacity: 1;
        }
    }

    &.three::first-letter {
        font-size: 64px;
    }
}
