// Typography opinions
// =============================================================================
h1,
h2,
h3 {
    font-weight: 400;
}

h2 {
    cursor: pointer;
    font-size: 24px;
    line-height: 135%;
    margin: 10px 0;
}

.playfair {
    font-family: 'Playfair Display', serif;
    font-size: 20px;
}

.code {
    font-family: 'VT323', sans-serif;
}

.amatic {
    font-family: 'Amatic SC', serif;
}

.voltaire {
    font-family: 'Voltaire', serif;
}

.satisfy {
    font-family: 'Satisfy', serif;
}
