$icomoon-font-path: "../fonts" !default;

$icon-adb: "\e60e";
$icon-announcement: "\e85a";
$icon-poll: "\e801";
$icon-camera: "\e3af";
$icon-photo_camera: "\e412";
$icon-palette: "\e40a";
$icon-expand_more: "\e5cf";
$icon-extension: "\e87b";
$icon-highlight: "\e25f";
$icon-local_hotel: "\e549";
$icon-photo: "\e410";
$icon-keyboard_arrow_down: "\e313";
$icon-line_style: "\e919";
$icon-satellite: "\e562";
$icon-star_border: "\e83a";
$icon-wb_sunny: "\e430";
$icon-whatshot: "\e80e";
$icon-images: "\e900";
$icon-github: "\e901";
$icon-linkedin2: "\e902";

